// РЕСУРСЫ САЙТА:
// ЦВЕТА:
$color_1: #000;
$color_2: #fff;
$color_3: #157efb;
$color_4: #8dc1fd;
$color_5: #808080;
$color_6: #333333;
$color_7: #4d4d4d;
$color_8: #123a5a;

// ШРИФТЫ:
// шрифт заголовков:
$font_fam_h: Montserrat, sans-serif; //Raleway, sans-serif;
// шрифт основного текста:
$font_fam_main: "Open Sans", sans-serif;

// ИЗОБРАЖЕНИЯ:


body {
  background-color: $color_2;
}

// заголовок:
.header {
  text-align: center;
  padding: 90px 0 60px 0;
  h1 {
    margin-bottom: 25px;

    font: {
      size: 3.5rem;
      weight: normal;
      family: $font_fam_h;
    }
  }
}
/* подпись под текстом и её ссылки: */
.freepic {
  font-family: $font_fam_main;
  font-size: 16px;
  letter-spacing: 2px;
  color: $color_1;

  margin-bottom: 0;
  a {
    &:link {
      color: $color_1;
      text-decoration: none;
      border-bottom: 1px solid $color_8;
    }

    &:visited {
      color: $color_1;
      text-decoration: none;
      border-bottom: 1px solid $color_5;
    }

    &:active {
      color: $color_1;
      text-decoration: none;
      border-bottom: 1px solid $color_5;
    }
    &:hover {
      color: $color_1;
      text-decoration: none;
      border-bottom: 1px solid $color_5;
    }
  }
}

// нижняя секция(основной текст и формы):
.main {
  max-width: 680px;
  margin: 0 auto;
}

// секция с формами:
.sub_forms {
  padding: 0 20px 0 20px;
  margin-bottom: 120px;

  color: $color_1;
  font: {
    family: $font_fam_main;
    size: 16px;
  }


  * {
    display: block;
  }
  label {
    margin-bottom: 4px;
  }
  input {
    text-indent: 11px;
    width: 100%;
    height: 46px;

    font: {
      size: inherit;
      family: $font_fam_main;
      // weight: 500;
    }
    color: inherit;
    border: none;
    border-radius: 23px;

    &:focus {
      outline: none;
    }
  }
  .sub {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    border: none;
    font-weight: bold;
    color: $color_2;
    text-transform: uppercase;
    // word-spacing: 4px;
    background-color: $color_1;

    &:hover {
      background-color: $color_7;
    }
  }
}

.forms_cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 33px;
}


/* секция с текстом:*/
.main_text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  margin-bottom: 80px;

  text-align: center;
  color: $color_1;
  > * {
    // max-height: 100%;
    // margin-bottom: 30px;
    line-height: 200%;
  }
  h2 {
    margin-bottom: 20px;

    font-size: 25px;
    font-family: $font_fam_h;
    font-weight: bold;
  }
  p {
    font-family: $font_fam_main;
    // letter-spacing: 150%;
    font-size: 18px;
  }
  .text_blok {
    a {
      &:link {
        font-weight: bold;
        color: $color_1;
        text-decoration: none;
        border-bottom: 1px solid $color_3;
      }
  
      &:visited {
        color: $color_1;
        text-decoration: none;
        border-bottom: 1px solid $color_3;
      }
  
      &:active {
        color: $color_1;
        text-decoration: none;
        border-bottom: 1px solid $color_1;
      }
      &:hover {
        color: $color_1;
        text-decoration: none;
        border-bottom: 1px solid $color_1;
      }
    }
  }
  .marked_text {
    font-weight: bold;
  }
}

/* футер и его ссылки: */
.footer {
  text-align: center;
  padding: 3em;

  font-family: $font_fam_main;
  font-size: 14px;
  background-color: $color_6;
  color: $color_2;
  a {
    &:link {
      color: $color_4;
    }
    &:visited {
      color: $color_4;
    }

    &:active {
      color: $color_4;
    }

    &:hover {
      text-decoration: none;
      color: $color_4;
    }
  }
}



// уменьшаются отступы в шапке:
@media (max-width: 1200px) {
  .header {
    padding-top: 80px;
  }
}

// уменьшаестся отступ в шапке:
@media (max-width: 980px) {
  .header {
    padding-top: 60px;
  }
  .sub_forms {
    margin-bottom: 80px;
  }
}

// ширина main уменьшается, отступы от main до краёв экрана уменьшаются,
//   размер шрифта гл. заг. уменьшается, блоки текста встают в две колонки:
@media (max-width: 750px) {
  .header {
    h1 {
      font-size: 3rem;
    }
  }
  .main {
    max-width: 530px;
  }
  .main_text {
    grid-template-columns: repeat(2, 1fr);
  }
}

// ширина main уменьшается, отступы от main до краёв экрана уменьшаются,
//   размер шрифта гл. заг. уменьшается, блоки с текстом и формы встают в одну колонку:
@media (max-width: 560px) {
  .header {
    h1 {
      font-size: 2.125rem;
    }
  }
  .main {
    max-width: 330px;
  }
  .main_text {
    grid-template-columns: repeat(1, 1fr);
  }
  .forms_cont {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .sub_forms {
    padding: {
      left: 0;
      right: 0;
    }
  }
}
