/* у текста форм цвет: #797979 */
// цвета:


// шрифт заголовков:
$h_font_fam: Raleway, sans-serif;
// шрифт основного текста:
$main_font_fam: "Open Sans", sans-serif;;


body {
  background: {
    image: url(https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/892364894fd35bc8867dd5be/wdq-min.jpg);
    repeat: no-repeat;
    color: #000;
  }

  max-width: 1150px;
  margin: 0 auto;
  padding: 310px 25px 0 30px;
}

/* контейнер с блоками контактов: */
.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* блоки контактов: */
.link_cont {
  background-color: #fff;
  border-radius: 18px;

  padding: 30px;
  text-align: center;
  img {
    max-width: 65px;
  }

  h2 {
    font: {
      family: $h_font_fam;
      size: 20px;
    }
    padding: 15px 0 20px 0;
  }
  p {
    font-family: $main_font_fam
  }
}

// нижняя секция(основной текст и формы):
.main {
  margin-top: 90px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

// секция с формами:
.sub_forms {
  color: #fff;
  font:{
    family: $main_font_fam;
    size: 16px;
  }

  *{
    display:block;

  }
  label{
    font-weight: bold;
    margin-bottom: 10px;
  }
  input, textarea{
    margin-bottom: 30px;
    text-indent: 10px;
    width: 100%;
    padding: 15px 0;

    font:{
      size:inherit;
      family:$main_font_fam;
      weight: 500;
    }
    color:inherit;
    background: none;
    border: none;
    border-bottom: 2px solid white;

    &:focus-within{
      border: none;
    }
  }
  .sub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;

    border: none;
    border-radius: 28px;
    font-weight:bold;
    color: #fff;
    text:{
      transform: uppercase;
    }
    // word-spacing: 4px;
    background-color: #f14a0e;
    


  }


}


/* правая секция с основным текстом:*/
.main_text {
  color: white;
}

/* иконки соцсетей: */
.soc_icon_cont {
  display: flex;
  gap: 20px;

  svg {
    min-width: 60px;
    min-height: 60px;
    fill: #f14a0e;
  }
}

/* подпись под текстом и её ссылки: */
.freepic {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  $fp_link_color: #a2b3a2;
  color: $fp_link_color;
  a {
    &:link {
      color: $fp_link_color;
      text-decoration: none;
      border-bottom: 1px solid #a2b3a2;
    }
  
    &:visited {
      color: $fp_link_color;
      text-decoration: none;
      border-bottom: 1px solid #f14a0e;
    }
  
    &:active {
      color: $fp_link_color;
      text-decoration: none;
      border-bottom: 1px solid #f14a0e;
    }
  }
}

/* футер и его ссылки */
.footer {
  text-align: center;
  padding: 3em;

  font-size: 14px;
  background-color: #333333;
  color: #ffffff;
  a {
    $footer_color: #72b8f1;
    color: $footer_color;
    &:visited {
      color: $footer_color;
    }
  
    &:active {
      color: $footer_color;
    }
  
    &:hover {
      text-decoration: none;
      color: #a1a1a1;
    }
  }

}
