body{
    background-color: #292d33;

    max-width: 1110px;
    margin: 0 auto;
    padding: 0 30px;
}

/* шапка: */
.header h1{
    padding: 2em 0 3em 0;
    text-align: center;

    font-family: Roboto, sans-serif;
    font-size: 46px;
    color: #fff;
    font-weight:1;
}

.main{
    /* padding: 0 5% 0 5%; */
    position: relative;
}

/* секция с блоками текста и картинок: */
.sec_pic_text{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
}

/* контейнеры с картинками и текстом: */

.img_text_cont{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}
.revers{
    flex-direction: row-reverse;
}

/* (костыль сохранения соотношения картинок)контейненры контейнеров с картинками: */
.img_cont_cont{
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.img_cont_cont::after{
    content: "";
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
    
    clip-path: circle(50%);
    background-color: white;
}

/* контейнеры с картинками: */
.img_cont{
    width: 100%;
    overflow: hidden;
    
    /* кастыль вертикального выравнивания(часть 1/2): */
    position: relative;
    padding-top: 100%;
    
    clip-path: circle(50%);
}



/* картинки: */
.img_cont img{
    width: 100%;
    height: 100%;

    /* кастыль вертикального выравнивания(часть 2/2): */
    position: absolute;
    top: 0;
    
    object-fit:cover;
}

/* контейнер с текстом: */
.text {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 100;
    
    min-width: 45%;
    width: 45%;
}

.text h2{
    font-size: 22px;
    /* font-weight: 300; */
}

.text p{
    font-style: italic;

    padding: 30px 0;
}

.price {
    font-size: 24px;
    font-weight: bold;


}

@media (max-width: 780px){
    /* меньшая общая ширина: */
    body{
        max-width: 530px;
    }

    /* одна грид-колонка: */
    .sec_pic_text{
        grid-template-columns:repeat(1, 1fr);
    }

    /* картинки над текстом: */
    .img_text_cont{
        flex-direction:column;
        align-items:stretch;
    }
    .text {
        min-width: auto;
        width: auto;
    }
}

@media (max-width: 560px){
    /* меньшая общая ширина: */
    body{
        max-width: 320px;
    }
}


/* подпись под картинками и её ссылки: */
.freepic{
    text-align: center;
    padding: 2em;
    padding-bottom: 4em;

    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16px;
    color: white;
}

.freepic a:link{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.freepic a:visited{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.freepic a:active{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(177, 177, 177);
}

/* футер и его ссылки */
.footer {
    text-align: center;
    padding: 3em;

    font-size: 14px;
    background-color: #333333;
    color: #ffffff;
}

.footer a{
    color: #72b8f1;
}

.footer a:visited{
    color: #72b8f1;
}

.footer a:active{
    color: #72b8f1;
}

.footer a:hover{
    text-decoration: none;
    color: #a1a1a1;
}
