body{
    background-color: #292d33;
}

/* шапка: */
.header h1{
    padding: 2em 0 3em 0;
    text-align: center;

    font-family: Roboto, sans-serif;
    font-size: 46px;
    color: #fff;
    font-weight:100;
}

.main{
    /* padding: 0 5% 0 5%; */
    position: relative;
}

/* секция с картинками: */
.sec_pic_text{
    display: flex;
    justify-content:center;
    gap: 30px;
    /* align-items:center; */
    /* z-index: -1; */


    flex-wrap: wrap;
}
/* контейнер с картинками: */
/* 
.img_cont{
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    overflow: clip;
    transition: 0.5s;
    background-color: black;
} */

/* картинки и их расширение и затемнение при наведении мыши: */
/* 
.main_img{
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
   
    transition: 0.5s;
} 

.main_img:hover{
    transform: scale(1.2,1.2);
    opacity: 0.8;
}  */


/* подпись под картинками и её ссылки: */
.freepic{
    text-align: center;
    padding: 2em;
    padding-bottom: 4em;

    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16px;
    color: white;
}

.freepic a:link{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.freepic a:visited{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.freepic a:active{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(177, 177, 177);
}

/* футер и его ссылки */
.footer {
    text-align: center;
    padding: 3em;

    font-size: 14px;
    background-color: #333333;
    color: #ffffff;
}

.footer a{
    color: #72b8f1;
}

.footer a:visited{
    color: #72b8f1;
}

.footer a:active{
    color: #72b8f1;
}

.footer a:hover{
    text-decoration: none;
    color: #a1a1a1;
}
