// РЕСУРСЫ САЙТА:
// ЦВЕТА:
$color_1: #000;
$color_2: #fff;
$color_3: #157efb;
$color_4: #8dc1fd;
$color_5: #0a58ca;
$color_6: #e9ecef;
$color_7: #5842bc;
$color_8: #4a00e1;
$color_9: #aaa;
$color_10: #fc0;
$color_11: #eee;
$color_12: #24c;
$color_13: #ac2;
$color_14: #c2dbfe;
$color_15: gray;
$color_16: ghostwhite;
$color_17: #737373;
$color_18: #666666;
$color_19: #f63312;

// ШРИФТЫ:
$font_fam_1: "Inter", sans-serif;

// ИЗОБРАЖЕНИЯ:

// "атомные" классы:
.active {
  color: $color_10;
}


// САМИ СТИЛИ:
body {
  background-color: $color_2;
  font-family: $font_fam_1;
}

// баннер-шапка "скидка 20% новым аккаунтам"
.NewAccPromotionHeader {
  // задействованные блоком внешние ресурсы:
  // цвета:
  // $color_2
  // $color_3
  // $color_4

  // содержимое блока:
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  background-color: $color_3;
  font-size: 10px;
  color: $color_2;

  &__ButtonSpecial {
    padding: 5px 9px 4px 8px;
    margin-right: 12px;

    background-color: $color_2;
    color: $color_1;
    border-radius: 4px;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
  &__SmileIcon {
    margin-right: 4px;
    max-width: 15px;
  }
  &__Text {
    margin-right: 12px;
    // letter-spacing: 1px;
    // word-spacing: 120%;
    color: $color_4;
    font-weight: 600;
    line-height: 1.5;
  }
  &__TextMark {
    color: $color_2;
    font-weight: normal;
  }
  &__RegistrationLink {
    transition: 0.5s;
    text-decoration: underline $color_2;

    &:hover {
      color: $color_5;
      text-decoration-color: $color_5;
    }
  }
  @media screen and (max-width: 990px){
    font-size: 8px;
  }
}

// плавающий блок с лого, навигацией и логингом:
.MainMenu {
  position: relative;
  transition: top 0.3s;
  padding: 24px 43px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  font-weight: 700;
  background-color: $color_2;
  transition: height 0.5s;

  @media screen and (max-width: 990px){
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;

    border-bottom: 1px solid $color_6;
    overflow-y: hidden;
    height: 76px;
    &--jsOpened {
      height: auto;
    }
  }
  // модиф. "скользящего" состояния:
  &--jsStiky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  // блок с меню:
  &__MenuItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 990px){
      margin-top: 20px;
      flex-direction: column;
      align-items:flex-start;
      gap:0;
    }
  }
  // элементы меню:
  &__MenuItem {
    padding: 10px;

    transition: 0.5s ease-in-out;
    & > a:hover {
      color: $color_3;
    }
    // модификаторы элементов меню:
    // - для элементов меню с выпадающим списком
    &--HoldMenuConteiner {
      position: relative;
      & > a::after {
        content: "\f078";
        font-weight: 900;
        font-family: "Font Awesome 5 pro";
        font-size: 80%;

        position: relative;
        // top: 3px;
        display: inline-block;
      }
      // --jsActive
      &--jsActive .MainMenu__HoldedMenuItems {
        display: block;
        // visibility: visible;
        // @media screen and (max-width: 990px){
        //   display: none;
        // }
      }
      &--jsActive > a {
        // color: $color_3;
        pointer-events: stroke;
        
        // @media screen and (max-width: 990px){
        //   display: none;
        // }
      }
    }
    // - для указания числа статей (в блоге)
    &--NumberOfStates {
      &::after {
        content: "3";
        display: inline-block;
        min-width: 32px;
        min-height: 20px;

        background-color: $color_3;
        border-radius: 10px;
        text-align: center;
        padding-top: 3px;
        color: $color_2;
        font-size: 10px;

        user-select: none;
      }
    }

  }
  // контейнер элементов выпадающего меню:
  &__HoldedMenuItems {
    position: absolute;
    z-index: 100;
    top: 35px;
    left: -13px;
    padding: 10px 0;
    min-width: 170px;

    background-color: $color_2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    // transition: 0.5s;
    // transition-duration: 1s;
    display: none;
    // visibility: hidden;

    &:hover {
      display: block;
    }

    @media screen and (max-width: 990px){
      position: static;
      overflow: hidden;
      display: none;
      margin-top: 10px;
      margin-bottom: -5px;
    }
  }
  // элемент выпадающего меню:
  &__HoldedMenuItem {
    display: block;
    padding: 10px 20px;

    font-weight: normal;

    transition: 0.5s;
    &:hover {
      background-color: $color_6;
    }
    &:active {
      background-color: $color_3;
    }
  }

  // контейнер с кнопками входа/регистрации:
  &__LoggingControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    @media screen and (max-width: 990px){
      padding-left: 40px;
    }
  }
  // кнопка входа в аккаунт:
  &__SignIn {
    position: relative;

    transition: 0.5s;
    &:hover {
      color: $color_3;
    }

    &::before {
      content: "\f4e1";
      display: inline-block;
      position: absolute;
      top: -4px;
      left: -30px;
      font-family: bootstrap-icons;
      font-style: normal;
      font-size: 20px;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
    }
  }

  // кнопка регистрации("StartFreeTrial"):
  &__StartFreeTrialButton {
    position: relative;
    top: -4px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    min-height: 40px;

    border-radius: 20px;
    color: $color_2;
    background-color: $color_3;
    box-shadow: 0 4px 0px $color_7;

    transition: background-color 0.4s ease-in-out;
    &:hover {
      background-color: $color_8;
    }
    &::after {
      content: "\f138";
      display: block;
      padding-left: 6px;
      font-family: bootstrap-icons;
      font-style: normal;
      font-weight: normal;
    }
  }

  // кнопка показа меню:
  &__ViewButton {
    display: none;
    position: absolute;
    top: 20px;
    right: 23px;
    min-width: 55px;
    min-height: 40px;

    border: 1px solid $color_9;
    border-radius: 3px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    outline: 0px solid $color_17;
    transition: outline-width 0.2s;
    &:focus {
      outline-width: 4px;
    }
    @media screen and (max-width: 990px){
      display: block;
    }
  }
}

// блок навигации под шапкой:
.Navigation {
  margin-top: 50px;
  text-align: center;

  color: $color_9;
  font-size: 14px;
  letter-spacing: 0.01rem;
  &__Points {
    color: $color_1;
    &:not(:last-child) {
      transition: color 0.5s;
      color: $color_9;
      &:hover {
        color: $color_3;
      }
    }
  }
  &__Braker {
    display: inline-block;
    padding: 0 12px;
  }
}

// секция со всем контентом:
.main {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

// _контейнер слайдера и описания товара:
.SliderAndMainText {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 80px;
  @media screen and (max-width: 990px){
    grid-template-columns: repeat(1, 1fr);
  }
}

// блок галереи:
.ProductFotoGalary {
  display: flex;
  gap: 20px;

  // панель выбора фото:
  &__FotoChoiser {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__FotoChoiserItem {
    max-width: 80px;
    width: 80px;
    max-height: 80px;
    height: 80px;
    object-fit: contain;
    padding: 10px;

    border: 1px solid $color_6;
    border-radius: 8px;
  }
  // сам экран галереи:
  &__GalaryScreen {
    position: relative;
    max-width: 100%;
    object-fit: contain;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 10px;
    scroll-snap-type: x mandatory;
    // !!! плохо поддерживается !!!!
    &::-webkit-scrollbar {
      /* Chrome, Safari и Opera */
      width: 0;
    }
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */

    @media screen and (max-width: 990px){
      max-height: 370px;
    }
  }
  &__GalaryScreenItem {
    // width: 100%;
    object-fit: contain;
    max-width: 100%;
    // max-height: 500px;
    max-height: calc(100% + 30px);
    padding: 50px;
    scroll-snap-align: none center;
    scroll-snap-stop: always;
    pointer-events: none;
    user-select: none;

    border: 1px solid $color_6;
    border-radius: 8px;
    @media screen and (max-width: 990px){
      max-height: unset;
    }
  }
}

// блок описания товара с формой добавления заказа в карзину:
.ProductInfoAndBuy {
  &__LongInfo {
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;

    border-bottom: 1px solid $color_6;
    padding-bottom: 20px;
    & ul {
      margin-top: 15px;
      list-style-type: none;
      & li:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  &__BuingForm {
    margin-top: 25px;
    padding-bottom: 25px;

    border-bottom: 1px solid $color_6;
  }
  &__SelectColor {
    display: flex;
    gap: 25px;

    font-size: 14px;
    font-weight: 700;
    & input {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 51%;
    }
    & input:checked::before {
      outline: 1px solid $color_3;
      outline-offset: 3px;
    }

    & input::before {
      content: "";
      position: relative;
      top: -1px;
      left: -1px;
      z-index: 1;

      display: block;
      width: 22px;
      height: 22px;
      border-radius: 51%;
      pointer-events: none;
    }
    & .gray::before {
      background-color: $color_11;
    }
    & .black::before {
      background-color: $color_1;
    }
    & .blue::before {
      background-color: $color_12;
    }
    & .grin::before {
      background-color: $color_13;
    }
  }
  &__QTYbuttonAndLikeConteiner {
    // width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__QTY {
    flex-grow: 1;
    // width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;

    font-size: 14px;
    font-weight: 700;
  }
  &__QTYchoiser {
    min-height: 40px;
    width: 100%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid $color_6;
    border-radius: 20px;
  }
  &__QTYchoiserNumber {
    max-width: 30px;
    min-width: 30px;
    pointer-events: none;
    font-size: 14px;
    font-weight: 400;
  }
  &__QTYchoiserPlusMinus {
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
  }

  &__Like {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color_6;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 900;
    color: $color_9;
    cursor: pointer;
  }
  &__TechInfo {
    margin-top: 20px;

    line-height: 24px;
    font-size: 14px;
    color: $color_9;
  }
  &__TechInfoStart {
    color: $color_1;
    font-weight: 700;
  }
  &__TechInfoTag {
    transition: color 0.5s;
    &:hover {
      color: $color_3;
    }

    &--Choised {
      color: $color_3;
      text-decoration: underline;
    }
  }
}

// блок краткой информации о товаре:
.ProductShotInfo {
  font-size: 10px;
  &__Company {
    font-size: (12 / 10)em;
    font-weight: 700;
    text-transform: uppercase
  }
  &__Name {
    margin-top: 10px;
    font-size: 2em;
  }
  &__Stars {
    display: inline-block;
    font-weight: 900;
    font-size: 1em;
    color: $color_6;
    &--Active {
      color: $color_10;
    }
  }
  &__Rewes {
    display: inline-block;
    font-size: 1em;
    color: $color_9;
  }
  &__PriceConteiner {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    &--Promotion {
      &>[class*="_Price"] {
        color: $color_19;
      }
      &>[class*="PromotionPrice"] {
        visibility: visible;
      }
    }
  }
  &__Price {
    margin-top: 40px;

    font-size: 2.5em;
    font-weight: 700;
  }
  &__PromotionPrice {
    visibility: hidden;
    font-size: 11px;
    font-weight: 700;
    color: $color_9;
    text-decoration-line: line-through;
  }
}

// блок кнопки добавления товара в карзину:
.AddToCardButton {
  flex-grow: 1;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color_3;
  border-radius: 10000px;
  font-size: 12px;
  font-weight: 700;
  font-family: inherit;
  color: $color_2;
  transition: background-color 0.5s;
  cursor: pointer;
  &:hover {
    background-color: $color_1;
  }
  transition: outline-width 0.2s;
  outline: 0px solid $color_14;
  &:active {
    outline-width: 3px;
  }
  &:focus {
    outline-width: 3px;
  }
}
// блок ссылок на соцсети:
.SocialLinks {
  margin-top: 45px;
  display: flex;
  gap: 12px;
  &__Item {
    display: block;
    min-width: 36px;
    min-height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color_6;
    border-radius: 18px;
    transition: color 0.3s;
    transition: background-color 0.3s;
    &:hover {
      background-color: $color_3;
      color: $color_2;
    }
  }
}

// блок описания, отзывов и доп. информации:
.DescriptionReviewsAddInfo {
  &__HeaderAndControl {
    margin-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    font-size: 25px;
    // font-weight: 700;
    color: $color_15;
    border-bottom: 1px solid $color_9;
    @media screen and (max-width: 990px){
      font-size: 18px;
    }
  }
  &__HeaderItem {
    cursor: pointer;
    &--Choised {
      font-weight: 700;
      color: $color_1;
    }
  }

  &__Description {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 55px;
    text-align: center;

    font-size: 14px;
    line-height: 28px;
    color: $color_15;
  }
  &__Reviews {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    
    & h3 {
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 500;
    }
    @media screen and (max-width: 990px){
      grid-template-columns: 1fr;
    }
  }
  &__ReviewItems {
  }
  &__ReviewAddForm {
    font-family: inherit;
    & *:focus {
      border: 1px solid $color_3;
      outline: none;
    }
  }
  &__RaitingInLabal {
    font-size: 14px;
  }
  &__RaitingInConteiner {
    margin-top: 15px;
    display: flex;
    gap: 10px;
  }
  &__RaitingIn {
    position: relative;
    &::after {
      content: "\f005";
      font-family: "Font Awesome 5 pro";
      font-weight: 900;
      font-size: 20px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: -6px;
      left: -6px;
      background-color: $color_2;

      color: $color_15;

    }

  }
  &__CommentIn {
    margin-top: 20px;
    border: 1px solid $color_15;
    border-radius: 10px;
    width: 100%;
    height: 140px;
    padding: 15px;

    font-family: inherit;
    font-size: 12px;

  }
  &__NameEmailConteiner {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;

    & *{
      border: 1px solid $color_15;
      border-radius: 10px;
      width: 100%;
      height: 50px;
      padding: 0 15px;
      font-family: inherit;
      font-size: 12px;
    }
  }
  &__NameIn {
  }
  &__EmailIn {
  }
  &__AutologinChekbox {
    margin-top: 20px;

    font-size: 12px;
    width: 12px;
    height: 12px;
    // outline: 0px solid $color_4;
    // transition: outline-width 0.2s;
    // &:focus {
    //   outline-width: 4px;
    // }

  }
  &__SubmitCommentButton {
    margin-top: 50px;

    position: relative;
    top: -4px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    min-height: 40px;

    border-radius: 20px;
    color: $color_2;
    background-color: $color_3;
    box-shadow: 0 4px 0px $color_7;
    font-size: 12px;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    
  }


  &__AddInfo {
    margin: 0 auto;
    max-width: 890px;

    border: 1px solid $color_9;
    color: $color_18;
    font-size: 14px;
  }
  
  &__AddInfoItem {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid $color_9;
    }


  }
  &__AddInfoItemName {
    font-weight: 700;
  }
}

// блок отзыва:
.ReviewBlock {
  padding: 50px 25px;
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  grid-template-rows: 20px 1fr;
  grid-template-areas: "foto name stars"
                       "foto text text";
  gap: 15px;
  margin-bottom: 20px;

  background-color: $color_16;
  &__ReviewerFoto {
    grid-area: foto;
    position: relative;
    max-width: 60px;
    min-width: 60px;
    max-height: 60px;
    min-height: 60px;
    clip-path: circle(50%);
    // object-position: 100%;
    // overflow: hidden;
    
    & img {
      max-width: 100%;
      // max-height: 100%;
      object-fit:cover;
      object-position: center center;
    }
    
  }
  &__ReviewerName {
    grid-area: name;


  }
  &__Stars {
    grid-area: stars;
    justify-self:end;
    color: $color_15;


  }
  &__Text {
    grid-area: text;


  }
}


// блок слайдера похожих продуктов:
.RelatedProductsSlider {
  &__head {
    margin-top: 100px;
    text-align: center;
  }
  &__SliderScreen {
    margin-top: 40px;
    position: relative;
    display: flex;
    gap: 24px;
    max-height: 330px;

    overflow-x: scroll;
  }

}

// блок карточки товара(в слайдере похожих продуктов):
.ProductCard {
  flex-grow: 1;
  position: relative;
  max-height: 310px;
  min-height: 310px;
  width: calc(100% / 5 - 20px);
  min-width: calc(100% / 5 - 20px);
  @media screen and (max-width: 1200px) {
    width: calc(100% / 3 - 20px);
  min-width: calc(100% / 3 - 20px);
  }
  @media screen and (max-width: 980px) {
    width: calc(100% / 2 - 20px);
  min-width: calc(100% / 2 - 20px);
  }
  @media screen and (max-width: 790px) {
    width: calc(100% / 1 - 20px);
    min-width: calc(100% / 1 - 20px);
  }
  padding: 15px;
  overflow:hidden;

  border: 1px solid $color_9;
  border-radius: 10px;

  &__DinamicConteiner {
    // position: relative;
    // height: 326px;
    // &:hover {

    // }
  }
  &__ProductFoto {
    margin: 0 auto;
    width: 170px;
    height: 167px;//39%;//167/326
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    transition: height 0.5s;
    &:hover {
      height: 115px;
    }
  }
  &__blockProductShotInfo {
    &>* {
      font-size: 6px;
      min-height: 112px;
      position: relative;
    }
    & [class*="Company"] {
      font-size: 10px;
    }
    & [class*="Stars"],[class*="Rewes"] {
      margin-top: 10px;
      font-size: 9px;
    }
    & [class*="PriceConteiner"] {
      position: absolute;
      bottom: 0;
    }
  }
   
 
  &__PromotionAlarmBanner {
    visibility: hidden;
    position: absolute;
    top: 15px;
    left: 15px;

    border-radius: 3px;
    padding: 3px 5px;
    font-size: 9px;
    &--PriceDown {
      visibility: visible;
      background-color: $color_19;
      color: $color_1;
    }
    &--NewProduct {
      visibility: visible;
      background-color: $color_10;
    }
  }

  &__blockAddToCardButton {
    &>* {
      margin-top: 15px;
      min-height: 32px;
      width: 100%;

      font-size: 11px;
    }
  }
  &__LikeButton {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 14px;
    font-weight: 900;
    color: $color_9;
    &--Liked {
      color: $color_19;
    }
  }
  

}


/* блок футера: */
.Footer {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 220px;
  padding: 0 15px;
  
  &__ShotInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 570px) {
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 50px;
    
    font-size: 12px;
    line-height: 24px;
  }
  &__ShotInfoItem {
    
  }
  &__ShotInfoItemHead {
    margin-bottom: 30px;
    
    font-size: 14px;
  }
  &__ShotInfoItemLink {
    display: block;
    margin-bottom: 5px;
    
    transition: color 0.5s;
    &:hover {
      color: $color_3;
    }
  }
  &__End {
    position: relative;
    margin-top: 90px;
    margin-bottom: 35px;
    

    text-align: center;
    font-size: 13px;
  }
  &__EndLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__EndLogoLink {
    font-weight: 700;
    text-decoration: underline;
    transition: color 0.3s;
    &:hover {
      color: $color_3;
    }
  }

}