@charset "UTF-8";
/* у текста форм цвет: #797979 */
body {
  background-image: url(https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/892364894fd35bc8867dd5be/wdq-min.jpg);
  background-repeat: no-repeat;
  background-color: #000;
  max-width: 1150px;
  margin: 0 auto;
  padding: 310px 25px 0 30px;
}

/* контейнер с блоками контактов: */
.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* блоки контактов: */
.link_cont {
  background-color: #fff;
  border-radius: 18px;
  padding: 30px;
  text-align: center;
}
.link_cont img {
  max-width: 65px;
}
.link_cont h2 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  padding: 15px 0 20px 0;
}
.link_cont p {
  font-family: "Open Sans", sans-serif;
}

.main {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.sub_forms {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.sub_forms * {
  display: block;
}
.sub_forms label {
  font-weight: bold;
  margin-bottom: 10px;
}
.sub_forms input, .sub_forms textarea {
  margin-bottom: 30px;
  text-indent: 10px;
  width: 100%;
  padding: 15px 0;
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: inherit;
  background: none;
  border: none;
  border-bottom: 2px solid white;
}
.sub_forms input:focus, .sub_forms textarea:focus {
  outline: none;
}
.sub_forms textarea {
  padding: 0;
  min-height: 120px;
}
.sub_forms .sub {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  border: none;
  border-radius: 28px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #f14a0e;
}
.sub_forms .sub:hover {
  background-color: #fff;
  color: #f14a0e;
}

/* правая секция с основным текстом:*/
.main_text {
  color: white;
}
.main_text h1 {
  font-size: 48px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
}
.main_text p {
  font-family: "Open Sans", sans-serif;
}
.main_text .text1 {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.main_text .text2 {
  font-size: 16px;
}

/* иконки соцсетей: */
.soc_icon_cont {
  display: flex;
  gap: 20px;
}
.soc_icon_cont svg {
  min-width: 60px;
  min-height: 60px;
  fill: #f14a0e;
}

/* подпись под текстом и её ссылки: */
.freepic {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #a2b3a2;
}
.freepic a:link {
  color: #a2b3a2;
  text-decoration: none;
  border-bottom: 1px solid #a2b3a2;
}
.freepic a:visited {
  color: #a2b3a2;
  text-decoration: none;
  border-bottom: 1px solid #f14a0e;
}
.freepic a:active {
  color: #a2b3a2;
  text-decoration: none;
  border-bottom: 1px solid #f14a0e;
}

/* футер и его ссылки */
.footer {
  text-align: center;
  padding: 3em;
  font-size: 14px;
  background-color: #333333;
  color: #ffffff;
}
.footer a {
  color: #72b8f1;
}
.footer a:visited {
  color: #72b8f1;
}
.footer a:active {
  color: #72b8f1;
}
.footer a:hover {
  text-decoration: none;
  color: #a1a1a1;
}

/*# sourceMappingURL=style.css.map */
